*{
	box-sizing: border-box;
}
.content-block{
	display: block;
	width: 100%;
	height: 200px;
	background-color: red;
	margin-top: 25px;
	position: relative;
}
.img-holder {
	width: 150px;
	height: 150px;
	background-color: orange;
	margin: 20px auto;
	position: relative;
}